.InfoBar-container {
  display: flex;
  justify-content: flex-end;
  margin: 5rem;
  font-size: 20px;
  font-family: "Droid Arabic Naskh";
}

.InfoBar {
  width: 60%;
  height: 100px;
  box-shadow: 0px 0px 15px -5px;
  /* margin: ; */
  /* margin: 5px; */
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;

  justify-content: space-around;
}

.btn_Info {
  color: gray;
  width: 30%;
}
.btn_Info:hover {
  color: black;
  cursor: pointer;
}
.wedding-logo {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
